.container{
  height: auto;
  margin: 20px;
  padding: 20px;
  width: auto;
  border: 1px solid gray;

}

.btn{
  margin: 0px 400px;
  color: #FFFF00 !important;
  background-color: #808080 !important;
}

.fa{
  margin: 0px 400px;
  height: 200px;
  width: 200px;
  background:rgba(255,255,255, 0.8);
}

.cuisineResult {
  height: 100px;
  width:400px;
  margin:0px 300px;
  background-color: #808080;
  padding: 20px;
  text-align: center;
  color: #FFFF00;
  border-radius: 10px;
}

.card{
  margin: 20px;
  border-radius: 10px;
}

.card-block{
  background-color: #808080;
  color: #FFFF00;
}
